{
	"printWidth": 140,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "avoid",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"vueIndentScriptAndStyle": false,
	"singleAttributePerLine": false,
	"insertPragma": false,
	"proseWrap": "never",
	"htmlWhitespaceSensitivity": "css"
}
